python
import os
# Note: Replace "readelf" with path to binary if it is not in your PATH.
READELF_BINARY = 'readelf'

class AddSymbolFileAuto (gdb.Command):
    """Load symbols from FILE, assuming FILE has been dynamically loaded (auto-address).
Usage: add-symbol-file-auto FILE [-readnow | -readnever]
The necessary starting address of the file's text is resolved by 'readelf'."""
    def __init__(self):
        super(AddSymbolFileAuto, self).__init__("add-symbol-file-auto", gdb.COMMAND_FILES)

    def invoke(self, solibpath, from_tty):
        from os import path
        self.dont_repeat()
        print(os.path.abspath('.'))
        if os.path.exists(solibpath) == False:
            print ("{0}: No such file or directory." .format(solibpath))
            return
        offset = self.get_text_offset(solibpath)
        print(offset)
        gdb_cmd = "add-symbol-file %s %s" % (solibpath, offset)
        print(gdb_cmd)
        gdb.execute(gdb_cmd, from_tty)

    def get_text_offset(self, solibpath):
        import subprocess
        elfres = subprocess.check_output([READELF_BINARY, "-WS", solibpath])
        for line in elfres.splitlines():
            if b'] .text ' in line:
                return "0x" + (line.split()[4]).decode('ASCII')
        return ""  # TODO: Raise error when offset is not found?

    def complete(self, text, word):
        return gdb.COMPLETE_FILENAME

AddSymbolFileAuto()
end

source ../OpenCorePkg/Debug/Scripts/gdb_uefi.py

target remote localhost:8864
set arch i386:x86-64:intel
set pagination off

add-symbol-file-auto obj/kern/kernel

add-symbol-file-auto obj/prog/test1
add-symbol-file-auto obj/prog/test2
add-symbol-file-auto obj/prog/test3
add-symbol-file-auto obj/prog/test4

add-symbol-file-auto obj/user/badsegment
add-symbol-file-auto obj/user/bounds
add-symbol-file-auto obj/user/breakpoint
add-symbol-file-auto obj/user/buggyhello
add-symbol-file-auto obj/user/buggyhello2
add-symbol-file-auto obj/user/divzero
add-symbol-file-auto obj/user/evilhello
add-symbol-file-auto obj/user/faultread
add-symbol-file-auto obj/user/faultreadkernel
add-symbol-file-auto obj/user/faultwrite
add-symbol-file-auto obj/user/faultwritekernel
add-symbol-file-auto obj/user/hello
add-symbol-file-auto obj/user/implicitconv
add-symbol-file-auto obj/user/signedoverflow
add-symbol-file-auto obj/user/softint
add-symbol-file-auto obj/user/testbss

reload-uefi
b DebugBreak

reload-uefi
b DebugBreak

set output-radix 16
